@charset "UTF-8";

.box1 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
}

.box1 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #000000;
    font-weight: bold;
}

.box1 ul {
    margin: 0; 
    padding: 40px;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
    text-align: center;
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.half_image *{
    width: 50%;
    height: 50%;
}

.quarter_image *{
    width: 25%;
    height: 25%;
}

.image_left{
    float: left;
    margin: 0px 50px 0px 0px;
}

.image_right{
    float: right;
}