@charset "UTF-8";
/*元からあったタグ*/
header{
    background: #cccccc;
    display: flex;
    padding: 60px 20px;
    position: fixed;
    top:0px;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
}

body{
    /*padding-top: 100px;*/
    font-family: "小塚ゴシックProH", "MS Pゴシック";
}


a{
    text-decoration: none;
}

ol{
    font-size: 0.7cm;
}

/*リンク*/
#About {
    margin-top: -70px; /* 固定ナビの高さ分のネガティブマージン */
    padding-top: 75px; /* 打ち消し用のパディング */
    }

#Preview {
    margin-top: -70px; /* 固定ナビの高さ分のネガティブマージン */
    padding-top: 75px; /* 打ち消し用のパディング */
    }

#money {
    margin-top: -70px; /* 固定ナビの高さ分のネガティブマージン */
    padding-top: 75px; /* 打ち消し用のパディング */
    }


/*子孫セレクタ*/

/*クラスセレクタ*/

p.center{
    text-align: center;
}

div.center{
    text-align: center;
}

div.inline{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

p.preview_image{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*画像関連*/
.half_image p{
    width: 50%;
    height: 50%;
}

.quarter_image {
    width: 25%;
    height: 25%;
}

.image_30{
    width: 30%;
    height: 30%;
}

/*
.image_left{
    float: left;
    margin: 0px 25px 0px 0px;
}

.image_right{
    float: right;
    margin: 0px 0px 0px 50px;
}*/

.image_bottom{
    text-align: bottom;
}

.image_center{
    text-align: center;
}

/*文章関連*/
.list_flex{
    display: flex;
}

.list_header_margin{
    margin-left: 40px;
    margin-right: auto;
}



/*色*/
.color_red{
    color: red;
}

/*その他*/
.inner {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.main{
    margin: 70px 0 0 0;
}

.site_header{
    background: whitesmoke;
    display: flex;
    padding: 30px 20px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    border-left: double 7px #4ec4d3;/*左線*/    
}

.box3{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

.box3 p {
    margin: 0; 
    padding: 0;
}

.box1 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
}

.box1 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #000000;
    font-weight: bold;
}

.box1 ul {
    margin: 0; 
    padding: 40px;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
    text-align: center;
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.bold{
    font-weight: bold;
}

.side_by_side p{
    display:inline-block;
    width: max-content;
    padding: 0px;
    vertical-align:top; /*縦方向の揃え位置を指定*/
}

.side_by_side .quarter_image p{
    display:inline-block;
    width: max-content;
    padding: 0px;
    vertical-align:top;
}